html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto" sans-serif;
}

.search-salary-form {
  display: grid;
  grid-template-columns: 32% 24% 16% 25%;
  align-items: end;
  justify-content: space-between;
}

.job-filter-form {
  display: grid;
  grid-template-columns: 24% 24% 24% 25%;
  row-gap: 10px;
  align-items: end;
  justify-content: space-between;
}

.mainContent::-webkit-scrollbar {
  display: none;
}
